.icon-button {
    cursor: pointer;
    font-size: 1.3em;
    margin-left: 10px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.modal-content {
    margin: auto;
    background-color: white;
    padding: 20px;
    width: 60%;
    border-radius: 8px;
}
.close {
    float: right;
    font-size: 1.4em;
    cursor: pointer;
}
